.reload-box {
  padding: 20px;
  text-align: center;
}

button {
  background-color: #4a7fd7;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  height: 50px;
  margin-left: 12px;
  border-radius: 10px;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #3265b8;
}

#paragraph {
  padding: 6px 12px 10px;
  margin-top: 0;
  margin-bottom: 10px;
  height: 110px;
  overflow: hidden;
  color: #111;
  font-size: 2.2em;
  line-height: 1.6em;
  background: #ffffff;
  border-radius: 4px;
  user-select: none;
}

#row1 {
  position: relative;
  color: #111111;
  top: 1px;
  display: flex;
  flex-wrap: wrap;
}

::ng-deep .reload-box #row1 span {
  padding: 3px 5px;
  flex-grow: 1;
}

::ng-deep .reload-box .highlight {
  background: #ddd;
  color: #000;
  border-radius: 3px;
}

::ng-deep .reload-box .highlight-wrong {
  background: red;
}

::ng-deep .reload-box .correct {
  color: green;
}

::ng-deep .reload-box .wrong {
  color: red;
}

/*typing-speed*/
.typing-speed  {
  background-color: #d2ddf4;
  margin-bottom: 30px;
  padding: 11px 109px 10px 98px;

&__inner {
   display: flex;
   justify-content: center;
   align-items: center;
 }

#inputfield {
  font-size: 2em;
}

&__input {
   flex-grow: 1;
   border: none;
   border-radius: 10px;
   height: 50px;
   background-color: #fff;
   padding: 6px 12px;

&:focus {
   outline: none;
 }
}

&__timer {
   flex-shrink: 0;
   justify-content: center;
   align-items: center;
   display: flex;
   margin-left: 12px;
   border-radius: 10px;
   min-width: 60px;
   height: 50px;
   padding: 5px 5px 7px;
   background-color: #11be52;
   color: #fff;
   cursor: pointer;
 }


}

/* results */
.results .result-details{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

ul.result-details  {
  padding-left: 0;
}

.result-details li{
  display: flex;
  height: 10px;
  list-style: none;
  position: relative;
  align-items: center;
}

.result-details li:not(:first-child){
  padding-left: 22px;
  border-left: 1px solid #bfbfbf;
}

.result-details li p{
  font-size: 19px;
  margin-bottom: 0;
}
.result-details li span{
  display: block;
  font-size: 20px;
  margin-left: 10px;
}
li span b{
  font-weight: 500;
}
li:not(:first-child) span{
  font-weight: 500;
}
